@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "Gidole", sans-serif;
    font-weight: 800;
}

.dropdown ul li:hover a span {
    background-color: black;
}

.dropdown ul li:hover a span {
    color: white;
}