@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "Gidole", sans-serif;
    font-weight: 800;
}

.dropdown ul li:hover a span {
    background-color: black;
}

.dropdown ul li:hover a span {
    color: white;
}

.shimmer-container {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.shimmer-card {
    width: 207px;
    height: 250px;
    background-color: var(--color-base-200);
}

.shimmer-card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% { left: -100px }
    20% { left: 100% }
    100% { left: 100% }
}
